@import '../../styles/variables';
.ant-modal-title {
  text-align: center;
  font-size: x-large;
  font-family: 'NEXON';
}
.line {
  background-color: #d9d9d9;
  height: 1px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.ant-modal-items {
  text-align: center;
  padding: 1rem;
  font-family: 'NEXON';
}

.ant-form-item-extra {
  padding: 0.5rem;
  font-family: 'NEXON';
}

.ant-btn-primary {
  background-color: $deep-brown;
  font-family: 'NEXON';
}
.ant-modal-footer {
  .ant-btn-default {
    visibility: hidden;
  }
}
.ant-input {
  font-family: 'NEXON';
}
