@import '../../styles/variables';

.my-place-add-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  .my-place-add-content-container {
    border-radius: 1rem;
    position: relative;
    height: 10rem;
    overflow: hidden;
    img {
      height: 12rem;
      width: 100%;
      object-fit: cover;
    }
    .shadow-wrapper {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 5rem;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.7);
    }
    .content {
      position: absolute;
      bottom: 1rem;
      left: 1rem;
      color: $deep-brown;
      h1 {
        font-size: 1.4rem;
        margin-bottom: 0.6rem;
      }
    }
  }
}
