@import '../../styles/variables';

.ant-modal-close {
  display: none;
}

.ant-modal-content {
  padding-bottom: 4rem !important;
}
.ant-modal-wrap {
  padding-right: calc(15vw + 1rem) !important;
  left: auto !important;
}
.book-item-container {
  display: flex;
  margin-bottom: 1rem;
  img {
    width: 5rem;
    height: 7rem;
    object-fit: cover;
    border-radius: 1rem;
    margin-right: 8px;
  }
  > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'NEXON';
    h2 {
      font-size: 1.1rem;
      font-weight: 600;
    }
    p {
      font-size: 0.8rem;
      color: rgba(0, 0, 0, 0.6);
    }
  }
}
.book-register-container {
  padding: 10px;
  .ant-modal-header {
    width: 100vw;
  }
  .book-detail-register-container {
    .book-detail-register-item {
      padding: 10px;
      display: flex;
      justify-content: center;
      input {
        width: 80%;
        height: 40px;
        font-size: 15px;
        font-family: 'NEXON';
        border-radius: 15px;
        padding-left: 10px;
      }
      textarea {
        width: 80%;
        height: 60px;
        font-size: 15px;
        font-family: 'NEXON';
        border-radius: 15px;
        padding-left: 10px;
        padding-top: 10px;
      }
    }
    .submit-button {
      display: flex;
      justify-content: end;
      button {
        width: auto;
        padding: 0.5rem 1rem;
        display: flex;
        align-items: center;

        justify-content: center;
        font-family: NEXON;
        font-size: 1rem;
        color: $beige;

        border: none;
        background: $brown;
        border-radius: 25px;
      }
    }
  }
}
