@import '../../styles/variables';

.book-register-container {
  padding: 10px;
  .book-detail-register-container {
    .book-detail-register-item {
      padding: 10px;
      display: flex;
      justify-content: center;
      input {
        width: 80%;
        height: 40px;
        font-size: 15px;
        font-family: 'NEXON';
        border-radius: 15px;
        padding-left: 10px;
      }
      textarea {
        width: 80%;
        height: 60px;
        font-size: 15px;
        font-family: 'NEXON';
        border-radius: 15px;
        padding-left: 10px;
        padding-top: 10px;
      }
    }
    .submit-button {
      display: flex;
      justify-content: end;
      button {
        width: auto;
        padding: 0.5rem 1rem;
        display: flex;
        align-items: center;

        justify-content: center;
        font-family: NEXON;
        font-size: 1rem;
        color: $beige;

        border: none;
        background: $brown;
        border-radius: 25px;
      }
    }
  }
}
