@import '../../styles/variables';
.modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .edit-profile-container {
    .ant-upload {
      display: flex;
      justify-content: center;
      height: 112px;
    }
    .image-item {
      width: 40%;
      img {
        border-radius: 50%;
        object-fit: cover;
      }

      .add-item {
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 50%;
        width: 2.5rem;
        height: 2.5rem;

        position: relative;
        bottom: 40px;
        left: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .ant-select-show-arrow {
    width: 290px;
  }
  .edit-profile-container {
    border: none;
    display: flex;
    flex-direction: column;

    input,
    .ant-select-selector {
      height: auto;
    }
    .ant-select-selection-item {
      font-family: 'NEXON';
    }
    .ant-select-selection-item {
      display: flex;
      align-items: center;
    }
  }
  .button-item {
    button {
      font-family: 'NEXON';
      font-size: 1rem;
      color: $beige;
      text-decoration: none;
      align-content: center;

      display: inilne-block;
      width: 5rem;
      height: 40px;
      padding: 5px;

      border: none;

      background: $brown;
      border-radius: 25px;
    }
  }
}
