@import '../../styles/variables';

.book-content-container {
  color: $deep-brown;
  .book-content-item {
    margin-top: 10px;
    border-bottom: 1px solid #baaf92;
    padding: 10px;
    .user-detail-container {
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
      margin-left: 1rem;
      margin-right: 1rem;
      img {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        object-fit: cover;
      }
      h2 {
        padding: 16px;
      }
    }

    .content-detail-container {
      padding: 1rem;
      p {
        font-size: 0.8rem;
        line-height: 1rem;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
