@import '../../styles/variables';

.library-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  // nav
  .library-nav {
    width: 100%;
    display: flex;
    justify-content: center;
    > div {
      cursor: pointer;
      display: flex;
      justify-content: center;
      width: 50%;
      border-bottom: 2px solid $light-brown;
      color: $light-brown;
      padding: 1rem 0;
    }
    .selected {
      border-color: $deep-brown;
      color: $deep-brown;
    }
    margin-bottom: 1rem;
  }
  // book shelf
  .hold {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
  }
  .read {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
  }
  .book {
    width: 30%;
  }
  img {
    height: 100%;
    width: 100%;
    // object-fit: cover;
    padding: 0.5rem;
  }
  a {
    font-size: 0.8rem;
  }
}
