@import '../../styles/variables';

.user-stat-summary {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: $deep-brown;
  .community {
    width: 33%;
  }
  .comment {
    width: 33%;
  }
  .review {
    width: 33%;
  }
  .vertical-line {
    border-left: 1px solid;
    height: 60px;
  }
  h2{
    font-size: 0.8rem;
    margin-bottom: 3px;
  }
}
