@import '../../styles/variables';

.club-bottom-nav {
  position: fixed;
  max-width: 425px;

  bottom: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  > div {
    box-shadow: $box-shadow;
    border-radius: 10px;
    overflow: hidden;
    > div {
      width: min(6rem, 25vw);
      background-color: $brown;
      position: absolute;
      height: 100%;
      top: 0;
    }
    .background {
      width: 100%;
      background-color: $beige;
      z-index: -1;
    }
  }

  button {
    font-size: min(1.2rem, 5vw);
    font-family: 'BM-Pro';
    padding: 1rem;
    width: min(6rem, 25vw);
    z-index: 9;
    position: relative;
    background-color: transparent;
  }
}
