@import '../../styles/variables';

.near-books-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.book-container {
  display: grid;
  margin: 1rem;
  grid-template-columns: 1.3fr 3fr;
  // height: 14rem;

  img {
    width: 100%;
    aspect-ratio: 2/3;
    object-fit: cover;
  }
  // div {
  //   background-color: #d9d9d9;
  //   height: 1px;
  //   margin-bottom: 1rem;
  // }
  .book-info-container{
    margin: 1rem;
    h6 {
      font-size: 0.9rem;
      // line-height: 1rem;
      font-weight: 200;
      color: black;
      padding: 0.5rem;
      margin-left: 1rem;
    }
    h2 {
      padding: 0.5rem;
      margin-top: 0.5rem;
      font-size: 1.1rem;
      font-weight: 400;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
