@import '../../styles/variables';

.book-info-summary {
  padding: 1rem;

  display: flex;
  justify-content: center;
  text-align: center;

  .vertical-line {
    margin-left: 40px;
    margin-right: 40px;

    border-left: 1px solid;
    height: 50px;
  }
}
