@import '../../../styles/variables';

.user-profile-container {
  padding: 1rem 3rem;
  .user-profile {
    display: flex;
    // flex-direction: row;
    // align-items: ;
    .profile-img {
      margin-inline-end: 20px;
      writing-mode: horizontal-tb;
    }
    .profile {
      flex: 2;
      .profile-button {
        display: flex;

        justify-content: end;
      }
    }
  }
  img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
  }
  button {
    // margin: 0;
    padding: 0rem 1rem;
    margin-inline-end: 1rem;

    font-size: 0.8rem;
    font-weight: 400;
    color: $beige;
    text-decoration: none;
    align-content: center;

    display: inline-block;
    width: auto;
    height: 40px;

    border: none;

    background: $brown;
    border-radius: 25px;
  }
}
