@import '../../styles/variables';
.search-container {
  padding: 10px;
  .search-bar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0rem;

    input {
      width: 85%;
      padding: 0.8rem;
      font-size: 1rem;
      font: 'NEXON';
      border-radius: 20px;
      border: 1px solid gray;
    }
    button {
      position: absolute;
      right: 2.7rem;
      opacity: 0.6;
    }
  }

  .before-search-container {
    color: $deep-brown;
    .before-search-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 20px;
      > div {
        padding: 5px;
      }
      span {
        width: auto;
        white-space: nowrap;
        background-color: $deep-brown;
        color: $beige;
        font-size: 1rem;
        border: $deep-brown solid 1px;
        padding: 5px;
        border-radius: 10px;
      }
    }
    .best-seller-item {
      padding: 30px 20px;
      // background-color: pink;
      h1 {
        font-size: 1.5rem;
        font-weight: 800;
      }
    }
  }
}
