@import '../../styles/variables';

.change-password-container {
  padding: 10px 30px;
}
.button-container {
  display: flex;
  justify-content: end;
  padding: 0px 30px;
  button {
    font-family: 'NEXON';
    font-size: 1rem;
    color: $beige;
    text-decoration: none;
    padding: 3px;
    // display: inilne-block;
    width: 5rem;
    height: 40px;

    border: none;

    background: $brown;
    border-radius: 25px;
  }
}
